.Item {
  width: 100%;
  cursor: pointer;
  font-weight: 500;
}

.Item a {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.Item img {
  width: 100%;
}

.Item h4 {
  position: absolute;
  width: 90%;
  top: 0;
  left: 0;
  padding: 5%;
  margin: 0;
  background-color: rgba(40, 40, 40, .4);
  opacity: 0;
  transition: opacity .3s;
  text-align: center;
}

.Item:hover h4 {
  visibility: visible;
  opacity: 1;
}
